<app-svg-shape></app-svg-shape>

<div class="container">
  <header>
    <h1>{{ title }}</h1>
    <p>{{ purpose }}</p>
  </header>
  <main>
    <div id="leaflet-map">
      <app-leaflet-map></app-leaflet-map>
    </div>

    <div class="legend">
      <h3>
        Légende
      </h3>
      <div class="legend-items">
        <div class="legend-item">
          <img src="icons/station-icon.png" alt="station icon" />
          <span>Stations opérationnelles</span>
        </div>
        <div class="legend-item">
          <img src="icons/station-non-operational.png" alt="station non operational icon" />
          <span>Stations non-opérationnelles</span>
        </div>
        <div class="legend-item">
          <img class="bridge" src="icons/bridge-icon.png" alt="bridge icon" />
          <span>Ponts</span>
        </div>
      </div>
    </div>
  </main>
</div>
